<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >YIF
<head>
<meta charset="utf-8">
<title>iyufei</title>
<meta name="keywords" content="iyufei" />
<meta name="description" content="宇菲" />
<link href="css/styles.css" rel="stylesheet">
<link href="css/animation.css" rel="stylesheet">
<style>
.log_title{
  display:inline;
  float:left;width:25%;
}
.log_content{
  display:inline;
  float:left;
  width:75%;
  text-indent:2em;
  font-family:宋体;
}
</style>
<!-- 返回顶部调用 begin -->
<link th:href="@{/css/lrtk.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/static/js/jquery.js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/js.js/js.js}"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="./js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <nav id="nav">
    <ul>
      <li><a href="/" >21号我就要离去了，抓紧时间多看看我呢</a></li>

    </ul>
    <script src="../static/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
  </nav>
</header>
<div align=center>
<div style=“width:960px; margin:0 auto; height:90px;”>
<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '730419',
        container: s,
        size: '960,90',
        display: 'inlay-fix'
    });
})();
</script>
</div>
</div>
<!--header end-->
<div id="mainbody">
  <div class="info">
    <figure> <img th:src="@{/images/art.jpg}"  alt="Panama Hat">
    </figure>
    <div class="card">
      <h1>我的名片</h1>
      <p>网名：机智的水星人</p>
      <p>职业：贴心的五星级大厨</p>
      <p>电话：191520520520</p>
      <p>Email：yufei@qq.com</p>
      <ul class="linkmore">
        <li><a href="/" class="talk" title="给我留言"></a></li>
        <li><a href="/" class="address" title="联系地址"></a></li>
        <li><a href="/" class="email" title="给我写信"></a></li>
        <li><a href="/" class="photos" title="生活照片"></a></li>
        <li><a href="/" class="heart" title="关注我"></a></li>
      </ul>
    </div>
  </div>
  <!--info end-->
  <div class="blank"></div>
  <div class="blogs">
    <ul class="bloglist">
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="/" target="_blank">终于加上了你的微信</a></h2>
          <ul class="textinfo">
		  <div style="630px">
			  <div class="log_title">
				<a href="/"><img th:src="@{/images/s1.jpg}"></a>
			  </div>
			  <div class="log_content">
			    <p> 我想你我遇到你，但是你不知道我的名字应该有一个多月了吧，师兄们一再帮我，而我却因为自己的胆怯，错失了很多机会。今天以去南京帮着加你微信为名
			    ，终于加上了。我很开心，因为我终于迈出了这一步，我喜欢喝果汁，喝你榨的果汁喝各种水果，不管味道怎么样，我觉得都很好喝。我喜欢喝各种水果的排列
			    组合，各种他们所谓的黑暗料理（虽然我不喜欢他们这么称呼）；喜欢看着你削水果，煮梨，烤东西认真的模样，很可爱。</p>
			    <p> 如果有一天，我希望真的能和你生活在一起。</p>
			  </div>
		    
		  </div>
            
            
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">10</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">2017-4-11</a></li>
          </ul>
        </div>
        <!--arrow_box end--> 
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
		  
          <h2 class="title"><a href="/" target="_blank">不一样的一天</a></h2>
          <ul class="textinfo">
		  <div style="630px">
			  <div class="log_title">
				<a href="/"><img th:src="@{/images/s1.jpg}"></a>
			  </div>
			  <div class="log_content">
				<p>当天晚上，听他们说你在二楼大厅那坐着，好像很难过。我真的很想过去，恨不得马上看看你怎么样。可是这样会不会太突兀，你也许会更加无所适从。</p>
				<p>回到宿舍，看了朋友圈你发的动态，我瞬间就按捺不住了，我能感觉到你的难过，虽然不知道为什么，但是我真的希望能帮你分担。刚开始，你没告诉我，说收拾
				太晚，比较累的原因，我想依你来吧，也许我们没到那个层面。后来过了20分钟，你突然回我消息了，告诉了我真正的原因，我好高兴，真的兴奋地不行，我想让你开
				心，让你早点休息，养好身体，在确信你心情恢复了、真的睡着了之后，我也放心的睡了（不过兴奋地睡不着了-.-）</p>
				<p>晚安，宇菲。</p>
			  </div>
		    
		  </div>
          </ul>
		  <ul class="details">
            <li class="likes"><a href="#">10</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">2017-4-12</a></li>
          </ul>
		  
        </div>
        <!--arrow_box end--> 
      </li>	  
	  <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
		  
          <h2 class="title"><a href="/" target="_blank">10086个尴尬</a></h2>
          <ul class="textinfo">
		  <div style="630px">
			  <div class="log_title">
				<a href="/"><img th:src="@{/images/s1.jpg}"></a>
			  </div>
			  <div class="log_content">
			    <p>早上醒了之后，发现你说给我做了一杯咖啡，我好感动，恨不得脸不洗牙不刷地就来拿（考虑到形象，我立马撤销了这个想法:Ctrl + Z）
				我早饭都没吃，拿了个汉堡就直接来了109，不过可惜的是，你已经去上课了，不过还好，咖啡仍有点温热，拿了咖啡，很快我就喝了，我想
				让你知道我喜欢，可是突然想起你已经上课了，不想影响你，我把想法搁置了一边。</p>
				<p>我不清楚天大的课程作息，去网上找，去问师兄师姐，确定你课间的时间后，我选择在你不忙的时候告诉你：我很喜欢你的咖啡</p>
				<p>下午你去中德做采访了，希望你一切顺利，总感觉你很缺觉。。。（不过看你总不觉得疲惫-.-）</p>
				<p>晚上你说你带了你做的慕斯给我，我很高兴，经过一番思想斗争，我希望送你回去，路上由于我对学校不熟悉，还被你给我指了下路（10086个尴尬），到了宿舍楼下，我们聊了会儿，第一次和你这样对话，我很激动，很开心...</p>
			  </div>
		    
		  </div>
          </ul>
		  <ul class="details">
            <li class="likes"><a href="#">10</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">2017-4-13</a></li>
          </ul>
		  
        </div>
        <!--arrow_box end--> 
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
		  
          <h2 class="title"><a href="/" target="_blank">一个目标</a></h2>
          <ul class="textinfo">
		  <div style="630px">
			  <div class="log_title">
				<a href="/"><img th:src="@{/images/s1.jpg}"></a>
			  </div>
			  <div class="log_content">
			    <p>到了第二天，我依然没有忘记你的翻译采访这件事，记得你说要在计算机楼做录入，不是一楼就是二楼，我想借此表现一下，我觉得你可能是白天有课，晚上做录入，于是到了晚上，我们吃饭回来，我先去看看你在不在一楼的自习室，结果不在，到了二楼109，看到你已经在吧台上，问了一下，知道你已经写完了，很遗憾，我没能帮什么忙。</p>
			    <p>于是我就傻傻地坐在那里，看着你冲咖啡、做果汁发呆（我发现我总喜欢这么干-.-），我怎么就不能多说两句话呢,坐在109时，发现你和其他109的小伙伴聊天，说很想吃鲍师傅、豆皮，我想我能帮你做些什么了:)，我很开心，因为我能帮到你了！（就是这么简单>-<）</p>
			    <p>晚上我们去打篮球了，回来都10点了，他们说好久都没去咖啡厅了，想喝果汁，我说了她们快下班了，可是就是没人听。我就去上个厕所，一眨眼他们都已经到109了，无奈的我跟过来了，结果发现他们一口气要了6杯果汁，我的天，让你一个人做怎么吃得消，我赶紧和他们说了一下，退掉一杯果汁，虽然还有5倍，但是真没辙了，尽力了...
			    <p>你最近很累，好好休息吧。<p>
			  </div>
		    
		  </div>
          </ul>
		  <ul class="details">
            <li class="likes"><a href="#">10</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">2017-4-14</a></li>
          </ul>
		  
        </div>
        <!--arrow_box end--> 
      </li>

    </ul>
    <!--bloglist end-->
    <aside>
      <div class="tuijian">
        <!--<h2>推荐文章</h2>-->
        <ol>
          <!--<li><span><strong>1</strong></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>-->
          <!--<li><span><strong>2</strong></span><a href="/">励志人生-要做一个潇洒的女人</a></li>-->
          <!--<li><span><strong>3</strong></span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>-->
          <!--<li><span><strong>4</strong></span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>-->
          <!--<li><span><strong>5</strong></span><a href="/">女生清新个人博客网站模板</a></li>-->
          <!--<li><span><strong>6</strong></span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>-->
          <!--<li><span><strong>7</strong></span><a href="/">Column 三栏布局 个人网站模板</a></li>-->
          <!--<li><span><strong>8</strong></span><a href="/">时间煮雨-个人网站模板</a></li>-->
          <!--<li><span><strong>9</strong></span><a href="/">花气袭人是酒香—个人网站模板</a></li>-->
        </ol>
        
      </div>
      
      <!--<div class="toppic">-->
        <!--<h2>图文并茂</h2>-->
        <!--<ul>-->
          <!--<li><a href="/"><img src="images/k01.jpg">腐女不可怕，就怕腐女会画画！-->
            <!--<p>伤不起</p>-->
            <!--</a></li>-->
          <!--<li><a href="/"><img src="images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~-->
            <!--<p>感兴趣</p>-->
            <!--</a></li>-->
          <!--<li><a href="/"><img src="images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。-->
            <!--<p>喜欢</p>-->
            <!--</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      
      <div class="clicks">
        <h2>热门点击</h2>
        <ol>

        </ol>
      </div>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="viny">
        <dl>
          <dt class="art"><img th:src="@{images/balloon.jpg}" alt="专辑"></dt>
          <dd class="icon-song"><span></span>告白气球</dd>
          <dd class="icon-artist"><span></span>歌手：Jay Chou</dd>
          <dd class="icon-album"><span></span>所属专辑：《周杰伦的床边故事》</dd>
          <dd class="icon-like"><span></span><a href="/">喜欢</a></dd>
          <dd class="music">
            <audio controls loop="loop" autoplay>
            	<source src="audio/告白气球.mp3" type="audio/mpeg" />
            </audio>
          </dd>
          <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
        </dl>
      </div>
    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->

<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>